In [11]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [12]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [13]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [15]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

/var/folders/9r/q4srxkms79b6vl45j16tmx4h0000gn/T/ipykernel_4792/4196587217.py:4: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True)

In [16]:
# View all of the classes that automap found
print(Base.classes.keys())

['station', 'measurement']

In [17]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [18]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [19]:
# Find the most recent date in the data set.
most_recent_date = session.query(func.max(Measurement.date)).scalar()
most_recent_date

'2017-08-23'

In [10]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
one_year_ago = dt.datetime.strptime(most_recent_date, "%Y-%m-%d") - dt.timedelta(days=365)


# Perform a query to retrieve the data and precipitation scores

precipitation_data= session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= one-year_ago).all()

# Save the query results as a Pandas DataFrame. Explicitly set the column names
precipitation_df = pd.DataFrame(precipitation_data, columns=['date', 'prcp'])

# Sort the dataframe by date
precipitation_df = precipitation_df.sort_values('date')


# Use Pandas Plotting with Matplotlib to plot the data
precipitation_df.set_index('date', inplace=True)
precipitation_df.plot(rot=90, figsize=(10,6))
plt.xlabel('Date')
plt.ylabel('Precipitation (inches)')
plt.title('Precipitation Over the Last 12 Months')
plt.tight_layout()
plt.show()

NameError: name 'one' is not defined

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data
summary_stats = precipitation_df.describe()
print(summary_stats)

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset
SELECT COUNT(station_id) AS total_stations
FROM stations;

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
SELECT station_id, COUNT(*) AS observation_count
FROM your_table_name
GROUP BY station_id
ORDER BY observation_count DESC;

# List the stations and their counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
SELECT MIN(temperature) AS lowest_temperature,
       MAX(temperature) AS highest_temperature,
       AVG(temperature) AS average_temperature
FROM your_table_name
WHERE station_id = 'most_active_station_id';

In [ ]:
# Using the most active station id
SELECT MIN(temperature) AS lowest_temperature,
       MAX(temperature) AS highest_temperature,
       AVG(temperature) AS average_temperature
FROM your_table_name
WHERE station_id = 'most_active_station_id';

# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
SELECT date, temperature
    FROM your_table_name
    WHERE station_id = 'most_active_station_id'
    AND date >= DATE('now', '-12 months')

# Close Session

In [ ]:
# Close Session
session.close()